.coin-container {
  width: 14.5rem;
  margin: 0.5rem;
}

#coin-list-container {
  justify-content: center;
}

#aboutDiv {
  background-color: white;
}

#aboutDiv > div {
  text-align: left;
  font-size: xx-large;
}

#chechboxSwitchBTN {
  width: 60%;
}

#languageDiv {
  display: flex;
  justify-content: center;
}

#divOne {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  height: 50vh;
}

#divOne > h1 {
  background: #eee;
  padding: 8px 24px;
  border-radius: 16px;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

#divThree {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  height: 40vh;
}

#divThree > h1 {
  background: #eee;
  padding: 8px 24px;
  border-radius: 16px;
}

#divOne:nth-child(1) {
  background-image: url(/img/criptonite.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#divThree:nth-child(3) {
  background-image: url(/img/criptonite.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#divTwo {
  background-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.contactForm {
  width: 80%;
  margin: auto;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  border: solid 1px white;
}

#cardAbout {
  width: 80%;
  margin: auto;
}

#cardTitle {
  text-decoration: underline;
  margin-top: 15%;
  margin-bottom: 10%;
}

#aboutHt {
  background-color: black;
}

#aboutHtmParagh {
  color: white;
}

.loader {
    display: inline-block;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 46%;
}

.loader:after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    margin: 8px;
    border-radius: 50%;
    border: 10px solid #fff;
    border-color: rgb(0, 98, 255) transparent rgb(0, 98, 255) transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
