.coin-container{
    width:14rem;margin: 0.5rem;
}

#aboutDiv>h1 {
    text-align: center;
    text-decoration: underline;
}

#aboutDiv {
    text-align: left;
    font-size: xx-large;
}

#chechboxSwitchBTN {
    width: 60%;
}

#languageDiv{
    display: flex;
    justify-content: center;
}